body{
	padding 2em;
	text-align: center;
	font-family: 'Poiret One', cursive;
	display: inline;
}

header{
	margin-top: 2em;
	font-size: 3em;
	margin-bottom: 2em;
	text-align: left;
	margin-left: 10%;
}

section{
	float: left;
	margin-left: 10%;
}

ul{
	display: inline-block;
	list-style-type: none;
	margin-bottom: 2em;
}

li{
	float: left;
	height: 2em;
	width: 2em;
	border: 1px solid;
	border-radius: 25%;
	padding: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

a{
	text-decoration: none;
}

.temp{
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
}

.options{
	margin-top: 5%;
}

